.resume {
  font-family: $family-roboto !important;

  & h2 {
    text-align: center;
  }

  & ul.contact {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    text-align: center;
  }

  & ul.contact li {
    list-style-type: none;

    & .icon {
      padding-right: 0.3em;
    }
  }

  & ul.skill {
    display: inline;
    text-align: left;
  }

  & ul.skill li {
    list-style-type: none;
  }

  & ul.skill li .skill-wrapper {
    text-align: left;
    padding: 5px 0px;
  }

  & ul.skill li .skill-wrapper .inner {
    margin: 0 auto;
  }

  & h3 {
    border-bottom: 1px solid $border;
    width: 100%;
    text-transform: uppercase;
    color: $green;
  }

  & .upper-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    & h4 {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  & .job-title {
    color: $text-strong;
    font-weight: $weight-bold;
  }

  & .year {
    color: $text-light;
  }

  & .school {
    color: $text-light;
  }

  & .company {
    color: $text-light;
    font-size: 0.8em;
  }

  & .percent-bar {
    height: 5px;
    background-color: $grey-lighter;
    width: 100%;

    & .percent {
      height: 100%;
      background-color: $green;
    }

    @media print {
      background-color: $grey-darker;
    }
  }

  @media print, screen and (max-width: $tablet) {
    width: 100%;
  }
}
